.card {
  margin-top: 1rem;
  background: #fff;
  border-radius: 7px;
  width: 50vw;
  padding: 2rem 3rem;
}

.input-group {
  width: 100%;
}

.input-group input {
  background: transparent;
  border: 1px solid #d9d9d9;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  color: #13141f;
  padding: 8px 10px;
}
